.swiper-button-next::after,
.swiper-button-prev::after {
  color: white;
  font-size: 24px;
}

.nav-link {
  color: #e2d475;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
}

#root {
  overflow-x: hidden;
}